<h1 mat-dialog-title>Eliminar Empleado</h1>
<div mat-dialog-content>
    ¿Desea eliminar la venta?
</div>



<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">No, Volver</button>
  <button mat-raised-button color="primary" (click)="confirmarEliminar()"
  cdkFocusInitial
  >
    Sí, eliminar
  </button>
</div>