
<div style="width: 70%; margin: 40px auto;">
  <h1>Gestion de ventas</h1>

  <button mat-raised-button (click)="dialogoNuevaVenta('0ms', '0ms')" color="primary">Nueva Venta</button>



  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
  
      <!-- Id Column -->
      <ng-container matColumnDef="Id">
        <th mat-header-cell *matHeaderCellDef> Id </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Asesor Column -->
      <ng-container matColumnDef="Asesor">
        <th mat-header-cell *matHeaderCellDef> Asesor </th>
        <td mat-cell *matCellDef="let element"> {{element.asesor.nombre}} </td>
      </ng-container>

      <!-- Cliente Column -->
      <ng-container matColumnDef="Cliente">
        <th mat-header-cell *matHeaderCellDef> Cliente </th>
        <td mat-cell *matCellDef="let element"> {{element.cliente.nombre}} </td>
      </ng-container>
      
  
      <!-- Fecha de Venta Column -->
      <ng-container matColumnDef="Fecha de Venta">
        <th mat-header-cell *matHeaderCellDef> Fecha de Venta </th>
        <td mat-cell *matCellDef="let element"> {{element.fechaVenta}} </td>
      </ng-container>

      <!-- TotalVenta Column -->
      <ng-container matColumnDef="Total Venta">
        <th mat-header-cell *matHeaderCellDef> Total Venta </th>
        <td mat-cell *matCellDef="let element"> {{element.montoVenta}} </td>
      </ng-container>

      <!-- Acciones Column -->
      <ng-container matColumnDef="Acciones">
        <th mat-header-cell *matHeaderCellDef style="width: 80px;">  </th>
        <td mat-cell *matCellDef="let element"> 
          <button mat-icon-button color="warn" (click)="dialogoEliminarVenta(element)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>
  
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                   showFirstLastButtons
                   aria-label="Select page of periodic elements">
    </mat-paginator>
  </div>
  
</div>
