<h1 mat-dialog-title>{{tituloAccion}} Venta</h1>
<div mat-dialog-content>
  <form [formGroup]="formVenta"> 
    <mat-grid-list cols="1" rowHeight="80px">

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Asesor</mat-label>
          <mat-select formControlName="asesorId">
            <mat-option *ngFor="let item of listaAsesores" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Cliente</mat-label>
          <mat-select formControlName="clienteId">
            <mat-option *ngFor="let item of listaClientes" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="outline">
          <mat-label>Producto</mat-label>
          <mat-select formControlName="productoId" [(ngModel)]="opcionSeleccionada">
            <mat-option *ngFor="let item of listaProductos" [value]="item.id">
              {{item.nombre}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Precio</mat-label>
          <input matInput formControlName="precioProd" placeholder="Ingresa el precio">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field class="example-full-width">
          <mat-label>Cantidad</mat-label>
          <input matInput formControlName="cantidadProd" placeholder="Ingresa la cantidad">
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" (click)="addDetalle()"
          [disabled]="formVenta.invalid"
          >Agregar producto</button>
        </div>
      </mat-grid-tile>
    </mat-grid-list>

    
  </form>

</div>

<table mat-table [dataSource]="dataSourceDet" class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="Producto">
    <th mat-header-cell *matHeaderCellDef> Producto </th>
    <td mat-cell *matCellDef="let element"> {{element.producto}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="Precio">
    <th mat-header-cell *matHeaderCellDef> Precio </th>
    <td mat-cell *matCellDef="let element"> {{element.precio}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="Cantidad">
    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
    <td mat-cell *matCellDef="let element">  {{element.cantidad}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>



<div mat-dialog-actions>
  <button mat-raised-button mat-dialog-close color="warn">Volver</button>
  <button mat-raised-button color="primary" (click)="addEditVenta()">{{botonAccion}}</button>
</div>